include /_utilities.jade

doctype html

-
  // This is only a temporary solution. This data really 
  // should be held in an external config file.
  var links = [
    {
      title: 'Home',
      href: '/'
    },    
    {
      title: 'Case Studies',
      href: '/case-studies/'
    },
    {
      title: 'Projects',
      href: '/projects/'
    },
    {
      title: 'About',
      href: '/about.html'
    },
    {
      title: 'Contact',
      href: '#contact'
    }
  ];

mixin navBar(links)
  .nav-bar
    a(href='/', title='Home')
      svg.logo(viewBox="0 0 35 35")
        include ../src/images/logo.svg
    
    ul
      each link in links
        li
          a(href=link.href, title=link.title, class={current: link.title === navPage})= link.title

html
    head
        title #{title}
        
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        link(href="/styles/style.css", rel="stylesheet")
    
    body(class=pageClass)
      //- Contains all page content, other than background
      .center-content
        
        //- Header
        header.theme-a
          +navBar(links)
        
        block hero
        
        main  
          //- Most page content is contained in this block
          block content
            p No content defined.

          //- Contact form
          //- What is the proper markup for this contact form?
          section.contact.theme-a
            a(name='contact')
            h2 Say Hello
            
            form(
              accept-charset="UTF-8"
              action="https://formkeep.com/f/194abc32c303"
              method="POST")
              
              input(type="hidden" name="utf8" value="✓")
              
              .left-col
                input(
                  type='text'
                  name='name'
                  placeholder='Name')
                  
                input(
                  type='text'
                  name='email'
                  placeholder='Email')
              
              .right-col
                textarea(
                  name='message'
                  placeholder='Message')

              button.button(type='Submit') Submit

        footer.theme-a
          //- Footer links
          +navBar(links)
    
    script(src='/scripts/vendor/jquery-2.1.4.min.js')
    script(src='/scripts/vendor/responsiveslides.js')
      
    script.
      $(function() {
        $('.rslides').responsiveSlides({
          auto: false,
          pager: true,
          nav: true,
          navContainer: '.slide-controls'
        });
      });
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      // Localhost
      //ga('create', 'UA-66286106-1', {'cookieDomain': 'none'});
      // Live      
      ga('create', 'UA-66286106-1', {'cookieDomain': 'auto'});
      ga('send', 'pageview');
