include /_utilities.jade

doctype html

-
  // This is only a temporary solution. This data really 
  // should be held in an external config file.
  var links = [
    {
      title: 'Home',
      href: '/'
    },    
    {
      title: 'Case Studies',
      href: '/case-studies/'
    },
    {
      title: 'Projects',
      href: '/projects/'
    },
    {
      title: 'About',
      href: '/about.html'
    },
    {
      title: 'Contact',
      href: '#contact'
    }
  ];

mixin navBar(links)
  .nav-bar
    svg.logo(viewBox="0 0 35 35")
      include ../static/images/logo.svg
    
    ul
      each link in links
        li
          a(href=link.href, title=link.title, class={current: link.title === navPage})= link.title

html
    head
        title #{title}
        
        meta(name="viewport", content="width=device-width, initial-scale=1")
        
        link(href="/styles/style.css", rel="stylesheet")
    
    body(class=pageClass)
      //- Contains all page content, other than background
      .center-content
        
        //- Header
        header.theme-a
          +navBar(links)
        
        block hero
        
        main  
          //- Most page content is contained in this block
          block content
            p No content defined.

          //- Contact form
          //- What is the proper markup for this contact form?
          section.contact.theme-a
            a(name='contact')
            h2 Say Hello
            
            .left-col
              input(
                type='text'
                name='name'
                placeholder='Name')
                
              input(
                type='text'
                name='email'
                placeholder='Email')
            
            .right-col
              textarea(
                type='text'
                name='message'
                placeholder='Message')

            button Submit

        footer.theme-a
          //- Footer links
          +navBar(links)
