//- Common Utilities

mixin skillIconBuilder(iconName)
  case iconName
    when 'design'
      svg.icon(viewBox="0 0 58 58" title="Design")
        include ../src/images/skill-icons/design.svg
    when 'dev'
      svg.icon(viewBox="0 0 57 57")
        include ../src/images/skill-icons/dev.svg
    when 'ux'
      svg.icon(viewBox="0 0 57 46")
        include ../src/images/skill-icons/ux.svg
    when 'write'
      svg.icon(viewBox="0 0 57 58")
        include ../src/images/skill-icons/write.svg

mixin projectListBuilder(projectList, buttonLabel) 
  each project, index in projectList
    - var isEven = (index % 2 === 0);
    section.project-list-item(class={'theme-a': !isEven, 'theme-b': isEven})
      
      .title
        h3= project.title
        
      .pic
        img(src=project.listImage.imgSrc, title=project.title)
      
      .details
        p= project.intro.blurb
        
        ul.project-icons
          each skillIcon in project.skillIcons
            li
              +skillIconBuilder(skillIcon.shortName)
              
        a.button(href='/' + project.filename)= buttonLabel

mixin dynContent(items)
  each item in items
    case item._type
      when 'paragraph'
        p= item._content
      
      when 'image'
        figure.gallery-image
          img(
            src=item._content.imgSrc
            title=item._content.title
            width=item._content.width
            height=item._content.height
          )
          figcaption= item._content.caption
      
      when 'imageSet'
        figure.gallery-image
          each image in item._content.items
            img(
              src=image.imgSrc
              title=image.title
              width=image.width
              height=image.height
            )
          figcaption= item._content.caption
            
      when 'dyn'
        div !{ item.content }
