//- Common Utilities

mixin skillIconBuilder(iconName)
  case iconName
    when 'design'
      svg.icon(viewBox="0 0 58 58" title="Design")
        include ../static/images/skill-icons/design.svg
    when 'dev'
      svg.icon(viewBox="0 0 57 57")
        include ../static/images/skill-icons/dev.svg
    when 'ux'
      svg.icon(viewBox="0 0 57 46")
        include ../static/images/skill-icons/ux.svg
    when 'write'
      svg.icon(viewBox="0 0 57 58")
        include ../static/images/skill-icons/write.svg

mixin projectListBuilder(projectList, buttonLabel) 
  each project, index in projectList
    - var isEven = (index % 2 === 0);
    section.project-list-item(class={'theme-a': !isEven, 'theme-b': isEven})
      
      .title
        h3= project.title
        
      .pic
        img(src=project.listImage.imgSrc, title=project.title)
      
      .details
        p= project.intro.blurb
        
        ul.project-icons
          each skillIcon in project.skillIcons
            li
              +skillIconBuilder(skillIcon.shortName)
              
        a.button(href='/' + project.path)= buttonLabel
