extends /_short-hero.jade

block hero
  .hero
    hgroup
      h1 Case Studies

block content
  .back-nav.col-8-10-pad.theme-b
    p
      a.subtle(href='/case-studies/') &lt; Back to Case Studies
  
  .project-title.col-8-10-pad.theme-d
    h2= title
    
  section.col-8-10-pad.theme-b
    ul.project-links
      each link in projectLinks.items
        li.project-link
          a.button(
            href=link.href
            title=link.name
          )= link.name
    
  section.col-8-10-pad.theme-b
    h3 Problem
    
    p= problem.blurb
    
  section.col-8-10-pad.theme-b
    h3 Solution
    
    p= solution.blurb
    
  section.col-8-10-pad.theme-b
    h3 My Role
    
    p= myRole.blurb
    
  section.col-8-10-pad.theme-b
    h3 Process

    +dynContent(process.items)
