extends /_layout.jade

block hero
  .hero
    h1 Coding#[span.soft /]Designing
    
    p
      span.rotator elegant
      | mobile and web experiences

block content
  section.hello.theme-b
    h2= hello.title
    
    p= hello.intro
    
  section.skills.theme-c
    h2= skills.title
    
    ul
      each skill in skills.items
        li
          h3.light= skill.name
          ul
            each topic in skill.topics
              li #{topic}

  section.showcase.theme-a
    h2= showcases.title
    
    ul
      each showcase in showcases.items
        li
          h3.light= showcase.name
          
          p= showcase.blurb
          
          a.button(href=showcase.link.href, title='Learn More') Learn More
