extends /_layout.jade

block hero
  .hero
    hgroup
      h1 Coding
      h1.soft /
      h1 Designing
    
    h3
      span.rotator elegant
      | mobile and web experiences

block content
  section.col-8-10-pad.theme-b
    h2= hello.title
    
    p= hello.intro
    
  section.col-8-10-pad.theme-c
    h2= skills.title
    
    ul.skills-list
      each skill in skills.items
        li
          .icon-container
            +skillIconBuilder(skill.icon.shortName)
          
          h3.text-center= skill.name
          
          ul.skill-items
            each topic in skill.topics
              li.text-center #{topic}

  section.col-8-10-pad.theme-a
    h2= showcases.title
    
    ul.rslides
      each project in showcases.items
        li.project-list-item
            .title
              h3= project.title
              
            .pic
              img(src=project.listImage.imgSrc, title=project.title)
            
            .details
              p= project.intro.blurb
                    
              a.button(href='/' + project.filename) Learn More
    
    .container.slide-controls
