extends /_layout.jade

block hero
  .hero
    h1 Coding #[span /] Designing
    
    p
      span.rotator elegant
      | mobile and web experiences

block content
  section.hello
    h2= hello.title
    
    p= hello.intro
    
  section.skills
    h2= skills.title
    
    ul
      each skill in skills.items
        li
          h3= skill.name
          ul
            each topic in skill.topics
              li #{topic}

  section.showcase
    h2= showcases.title
    
    ul
      each showcase in showcases.items
        li
          h3= showcase.name
          
          p= showcase.blurb
          
          a.button(href=showcase.link.href, title='Learn More') Learn More
