extends /_short-hero.jade
 
block content
  each project in list.items
    section.project
      h2= project.title
      
      p= project.intro.blurb
      
      ul.project-icons
        each skillIcon in project.skillIcons
          li: img(src=skillIcon.imgSrc, title=skillIcon.name)
            
      a.button(href=project.path) Learn More
        
      img(src=project.listImage.imgSrc, title=project.title)
      
