extends /_short-hero.jade

block hero
  .hero
    hgroup
      h1 Projects

block content
  .back-nav.col-8-10-pad.theme-b
    p
      a.subtle(href='/projects/') &lt; Back to Projects
  
  .project-title.col-8-10-pad.theme-d
    h2= title
  
  section.col-8-10-pad.theme-b
    ul.project-links
      each link in projectLinks.items
        li.project-link
          a.button(
            href=link.href
            title=link.name
          )= link.name
    
  section.col-8-10-pad.theme-b
    h3 Intro
    
    p= intro.blurb
    
  section.col-8-10-pad.theme-b
    h3 Tools & Techniques
    
    //- Iterate over categories, then list items
    ul.project-skills
      each category in toolsAndTechniques.categories
        li
          .category-name= category.name
          
          ul.category-skills
            each skill, index in category.skills                
              li= skill.name + (index === category.skills.length - 1 ? '' : ',')
    
  section.col-8-10-pad.theme-b
    h3 Details

    +dynContent(details.items)
